/** Page **/
body {
    background-color: $dark;
}

.no-scroll {
    overflow-y: hidden!important;
    position: fixed;
    width: 100%;
}

/** Text Selection **/
::-moz-selection {
    color: $dark;
    background: $primary;
}

::selection {
    color: $dark;
    background: lighten($primary, 30%);
}

.hide-text * {
    color: #f0f3f6;
}

.fade-element {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-element.visible {
    opacity: 1;
}
