/** Page **/
body {
    background-color: $dark;
}

.no-scroll {
    overflow-y: hidden!important;
    position: fixed;
    width: 100%;
}

/** Text Selection **/
::-moz-selection {
    color: $dark;
    background: $primary;
}

::selection {
    color: $dark;
    background: lighten($primary, 30%);
}

.hide-text * {
    color: #f0f3f6;
}

.fade-element {
    opacity: 0;
    animation: slidein 0.3s ease-in;
}

.fade-element.visible {
    opacity: 1;
    animation: slideout 0.3s ease-in;
}

@keyframes slidein {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(5%);
    }
}

@keyframes slideout {
    from {
        opacity: 0;
        transform: translateX(5%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
